/*Theme*/
body {
  background-color: #778899;
}

.header {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  color: black;
  margin: auto;
}

a{
  text-decoration: none;
  color: black;
}

p {
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 50px;
}

.email{
  font-style: italic;
}
